h1 {
  font-size:45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px
  color: brown
}
h1 {
    border-bottom:none;
}
ul {
  list-style-type: none;
  margin: 35;
  padding: 20;
  overflow: hidden;
  background-color: #141E30;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #E1C4C4;
  padding: 10px;
  grid-column-gap: 50px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #FFFFFF;
  padding: 80px;
  font-size: 30px;
  text-align: center;
}
